{% extends 'info/base.html' %}

    {% block content %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        Timetable
                    </h2>
                </div>
                <div id="no-more-tables">
                    <table class="col-sm-12 table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>      </th>
                                <th>8:00 - 8:40</th>
                                <th>8:40 - 9:20</th>
                                <th>9:20 - 10:00</th>
                                <th>Break</th>
                                <th>10:30 - 11:10</th>
                                <th>11:10 - 12:20</th>
                                <th>12:20 - 1:00</th>
                                <th>Lunch</th>
                                <th>2:30 - 3:00</th>
                                <th>3:00 - 3:30</th>
                                <th>3:30 - 4:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in matrix %}
                            {% if i.0 != 'Saturday' %}
                            <tr>
                                {% for j in i %}
                                    {% if forloop.counter == 1 %}
                                    <td><b>{{ j }}</b></td>
                                    {% else %}
                                    <td>{{ j }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    {% endblock %}
